body {
	font-family: Verdana;
	margin: 0;
}
#toc {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 150px;
	padding: 10px;
	font-size: 10pt;
	background-color: white;
	border-right: 3px solid #cccccc;
}
#toc span {
	font-weight: bold;
	color: #000080;
}
#content {
	padding: 3px 20px 0px 194px;
	font-size: 10pt;
}
h1 {
	font-size: 16pt;
}
h2 {
	font-size: 14pt;
}
div.section {
	margin-top: 25px;
}
a {
	color: blue;
	text-decoration: none;
}
ul, ol {
	padding-left: 20px;
}
table {
	display: block;
	margin: 15px 0px 14px 0px;
	border-collapse: collapse;
}
td {
	border: black 1px solid;
	vertical-align: top;
	padding: 3px;
}

/* Table cell styles */
td.noborder {
	border: none;
}
td.header {
	font-weight: bold;
}
td.left {
	text-align: left;
}
td.center {
	text-align: center;
}
td.middle {
	vertical-align: middle;
}
td.right {
	text-align: right;
}
td.mono {
	font-family: monospace;
}
td.spaceleft {
	padding-left: 10px;
}

/*	Address table	 */
td.postop {
	font-weight: bold;
	text-align: center;
	width: 20px;
}
td.posleft {
	font-weight: bold;
	text-align: right;
}

/*	Data Types	*/
td.bool {
	text-align: center;
	background-color: #80FF80;
}
td.int {
	text-align: center;
	background-color: #FFFF80;
}
td.float {
	text-align: center;
	background-color: #FFBBFF;
}
td.string {
	text-align: center;
	background-color: #80FFFF;
}
td.struct {
	text-align: center;
	background-color: #FFBBBB;
}
td.unknown {
	text-align: center;
	background-color: #CCCCCC;
}

/*	Custom	*/
td.type {
	text-align: center;
	padding: 10px;
}
img.icon {
	width: 16px;
	height: 16px;
	vertical-align: bottom;
}